POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_PASSWORD=shanquan

MYSQL_ROOT_PASSWORD=shanquan
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=shanquan
MYSQL_PORT=3306

